<launch>
  <!-- Load the URDF model into the parameter server -->
  <param name="robot_description" textfile="$(find centipede_description)/urdf/centipede_segment_02.urdf"/>

  <!-- Start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <!-- Spawn a urdf in Gazebo, taking the description from the parameter server -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model centipede_segment_1 -x 0 -y 0 -z 0" />
        <!-- Note: I'm explicitly setting the spawn location - this can be a useful trick if you want to spawn multiple robots... -->

  <!-- Start FSM nodes -->
  <!-- leg FSMs -->
  <node name="seg0_rightleg" pkg="centipede_description" type="two_dof_leg_fsm_node.py" output="screen" launch-prefix="xterm -e"
        args="right seg0_rightknee_to_rightleg seg0_righthip_to_rightleg seg0_rightleg_to_rightknee seg0_rightleg_to_righthip
              seg0_to_rightleg rightleg_to_seg0 100.0" />
  <node name="seg0_leftleg" pkg="centipede_description" type="two_dof_leg_fsm_node.py" output="screen" launch-prefix="xterm -e"
        args="left seg0_leftknee_to_leftleg seg0_lefthip_to_leftleg seg0_leftleg_to_leftknee seg0_leftleg_to_lefthip
              seg0_to_leftleg leftleg_to_seg0 100.0" />
  <!-- leg pair FSM -->
  <node name="seg0" pkg="centipede_description" type="segment_fsm_node.py" output="screen" launch-prefix="xterm -e"
        args="rightleg_to_seg0 leftleg_to_seg0 seg0_to_rightleg seg0_to_leftleg cent_to_seg0 seg0_to_cent 100.0" />
  <!-- centipede FSM -->
  <node name="centipede" pkg="centipede_description" type="centipede_odd_even_fsm_node.py" output="screen" launch-prefix="xterm -e"
        args="cent_to_seg0 seg0_to_cent 3 100" />
  <!-- smach_viewer nodes for visualization -->
  <node name="smach_viewer_1" pkg="smach_viewer" type="smach_viewer.py" launch-prefix="xterm -e" />
  <node name="smach_viewer_2" pkg="smach_viewer" type="smach_viewer.py" launch-prefix="xterm -e" />
  <node name="smach_viewer_3" pkg="smach_viewer" type="smach_viewer.py" launch-prefix="xterm -e" />
  <node name="smach_viewer_4" pkg="smach_viewer" type="smach_viewer.py" launch-prefix="xterm -e" />
</launch>
